/*html {
	background:url(rowteeme-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
*/

@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/ProximaNova-Regular.ttf);
    font-weight:300;
}

header {

	margin-top: 72px;
	text-align: center;

}

h1 {

	font-family: 'Museo Slab', Georgia, "Times New Roman", Times, serif; 
	font-size: 48px;
	font-weight: 500;
	color: #323232;
}

h2 {
	font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin-top: 18px;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Museo Slab', Georgia, serif;
	font-weight: 500;
	font-size: 16px;
	color: #323232;
}

hgroup {
	margin-bottom: 50px;
}

.job {
 	position: relative; 
	margin-bottom: 1em;
	margin-right: 3em;
	padding-bottom: 1em; 
	border-bottom: 1px solid #ccc;
}
.job p { margin: 0.75em 0 2.2em 0; }

.job h3 {
	font-style: oblique;
}

h4 {
	 font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
	 font-weight: 300;
	 font-size: 14px;
	 position: absolute;
	 top: 0.35em;
	 right: 0 
}


.last { border: none; }


section li {
	display: inline;
}

nav {
	font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
	text-align: center;
}

nav ul {
	margin-top: 72px;
	margin-bottom: 47px;
	list-style: none;

}

nav li {
	font-size: 18px;
	margin-right: 23px;
	display: inline;
	}

nav li a {
	color: #646464;
}

.side {
	background-color: #f5ecdd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	padding: 35px 58px;
	margin: 10px 0 30px 0;

}

.side p {
	font-family: 'Museo Slab', Georgia, serif;
	font-size: 13px;
	line-height: 1.6em;
}

.edu {
	text-align: center;
}

.splash {
 	background: url(../img/splash.jpg) no-repeat top center;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	height: 517px;
 	min-width: 1080px;
 	padding: 10px 0 10px 0;
 }

.intro {
 	background:url(../img/grey.png) repeat;
	-webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 3px 4px 5px rgba(0,0,0,.75);
	box-shadow: 3px 4px 5px rgba(0,0,0,.75);
	width: 560px;
	height: 145px;
	margin: 237px auto auto;
	padding: 26px 35px 0;

 }

.intro p {
	font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #121212;
	line-height: 2.2em;
/*	max-width: 400px;
*/	float: left;
	margin-right: 20px;
}



img .floatRight {
	float: right;
	padding-top: 8px;
}


.about {
 	background:url(../img/grey.png) repeat;
	-webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 3px 4px 5px rgba(0,0,0,.75);
	box-shadow: 3px 4px 5px rgba(0,0,0,.75);
	width: 560px;
/*	height: 145px;
*/	margin: 80px auto auto;
	padding: 20px 35px 20px;

 }

.about p {
	font-size: 14px;
	line-height: 1.6em;
	margin: 8px 0 8px 0;
	padding: 26px 35px 0;
}

.btn-primary {
	margin-top: 15px;
}

.writinglist {
	display: block; 
}

.writinglist nav-header {
	color: #888888;
}


/*.about li {
	display: block;
	margin: 8px 0px 8px 25px;

}*/

footer {
	-webkit-box-shadow: 1px 1px 12px rgba(0,0,0,.54);
	-moz-box-shadow: 1px 1px 12px rgba(0,0,0,.54);
	box-shadow: 1px 1px 12px rgba(0,0,0,.54);
	height: 67px;
	margin-top: 117px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;

}

footer nav {
	margin-top: 12px;
	border-top: 5px;
}